<div class="p-2">
  <app-tree-node *ngFor="let order of mixingBatchOrders" [collapsed]="false">
    <ng-template #head>
      <div class="row align-items-center">
        <div class="col-6">{{order.clientName}} ({{order.date}})</div>
        <div class="col-4">{{order.memberItemsCount}} / {{order.incompleteItemsCount}}</div>
        <div class="col-2">
          <app-add-check (checkedChange)="onOrderChecked($event, order)"
                         [checked]="order.memberItemsCount > 0"></app-add-check>
        </div>
      </div>
    </ng-template>
    <ng-template #content>
      <div *ngFor="let item of itemsFiltered(order)" class="row  align-items-center">
        <div class="col-6"> {{item.recipeName}} </div>
        <div class="col-3"> <input [(ngModel)]="item.memberAmount"
                                   class="form-control" width="20rem" min="1" [max]="item.incompleteAmount" (ngModelChange)="change(order)">
        </div>
        <div class="col-1">/{{item.incompleteAmount}}</div>
        <div class="col-2">
          <app-add-check (checkedChange)="onItemChecked($event, item, order)"
                         [checked]="item.memberAmount > 0"></app-add-check>
        </div>
      </div>
    </ng-template>
  </app-tree-node>
</div>
