<div class="modal-header">
  <h2 class="modal-title">Login</h2>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label class="form-label" for="exampleInputEmail1">Email address</label>
      <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" type="email">
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleInputPassword1">Password</label>
      <input class="form-control" id="exampleInputPassword1" type="password">
    </div>
  </form>
</div>
