<div class="modal-header">
  <h2 class="modal-title">Bejelentkezés</h2>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label" for="username">Felhasználó</label>
      <input class="form-control" id="username" type="text" [formControlName]="'email'">
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Jelszó</label>
      <input class="form-control" id="password" type="password" [formControlName]="'password'">
    </div>
    <div class="mb-3">
    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Bejelentkezés</button>
    </div>
  </form>

</div>
