<div class="row col-lg-8 align-items-center">
  <div class="col-3">Alapanyag</div>
  <div class="col-3">Raktáron</div>
  <div class="col-6">Szükséges (+Tartalék)</div>
  </div>
<hr>
<ng-container *ngIf="itemsDisplayedObservable | async as items" style="height: 80vh">
  <cdk-virtual-scroll-viewport (scrolledIndexChange)="nextBatch($event, orders.length)" [itemSize]="124" style="height: 80vh">
    <div *cdkVirtualFor="let item of items">
      <div class="row col-lg-8 align-items-center align-self-center"
           [ngClass]="{'bg-danger':isDanger(item), 'bg-warning':isWarning(item), 'text-white': isWarning(item) || isDanger(item)}"
      >
        <div class="col-3">{{item.name}}</div>
        <div class="col-3 row"><div>{{item.amountOnHand}} {{item.measurementUnit}} </div>
          <div> ({{item.amountOnHand/item.quantityPerPackage}} csomag)</div>
        </div>
        <div class="col-3 row"> <div>{{item.amountRequired}} {{item.measurementUnit}} </div>
          <div> (+{{item.warningThreshold}} {{item.measurementUnit}})</div>
          </div>
        <div class="col-3 row">
          <button class="btn btn-secondary m-1" (click)="set(item)"><fa-icon icon="box-open"></fa-icon></button>
          <button class="btn btn-primary m-1" (click)="add(item)"><fa-icon icon="plus"></fa-icon></button></div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-container>
