<app-tree-node *ngFor="let order of orders">        <ng-template #head>
  <div class="row align-items-center">
    <div class="col-6">{{order.client.name}} ({{order.requestedDate | date: 'yyyy-MM-dd'}})</div>
    <div class="col-3">{{order.items.length}}</div>
    <div class="col-3">
    </div>
  </div>
</ng-template>
  <ng-template #content>
    <div *ngFor="let item of order.items" class="row  align-items-center">
      <div class="col-6"> {{item.recipe.name}} </div>
      <div class="col-3"> {{item.mixedAmount}} / {{item.amount}} </div>
      <div class="col-3">
        <button class="btn btn-light"
                printSectionId="print-{{order.id}}}-{{item.recipe.id}}"
                ngxPrint>
          <fa-icon icon="print"></fa-icon></button>
      </div>
      <div style="height: 0; overflow: hidden">
        <div id="print-{{order.id}}}-{{item.recipe.id}}">
          {{item.recipe.name}}
          {{item.recipe.descriptionForLabels}}
          {{order.requestedDate | date: 'yyyy-MM-dd'}}
        </div>
      </div>
    </div>
  </ng-template>
</app-tree-node>
