<div class="modal-header">
  <h2 class="modal-title">Bejelentkezés</h2>
</div>
<div class="modal-body">
  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label" for="password1">Új Jelszó:</label>
      <input class="form-control" id="password1" type="password" [formControlName]="'password1'">
    </div>
    <div class="mb-3">
      <label class="form-label" for="password2">Jelszú újra:</label>
      <input class="form-control" id="password2" type="password" [formControlName]="'password2'">
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Módosítás</button>
    </div>
  </form>

</div>
