
$theme: "sketchy";
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #aaa;
$gray-600: #868e96;
$gray-700: #555;
$gray-800: #333;
$gray-900: #212529;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$primary: $pink;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-700;
$min-contrast-ratio: 1.6;
$body-bg: $gray-900;
$body-color: #aaa;
$link-color: $white;
$table-color: $white;
$table-accent-bg: rgba($white, .05);
$table-hover-bg: $white;
$table-border-color: $gray-800;
$table-dark-border-color: $table-border-color;
$table-dark-color: $white;
$table-bg-scale: 0;
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1rem;
$input-bg: $white;
$input-disabled-bg: #ccc;
$input-color: $gray-900;
$form-check-input-bg: $white;
$dropdown-bg: $gray-800;
$dropdown-border-color: $gray-800;
$dropdown-divider-bg: $gray-800;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $gray-800;
$dropdown-link-active-color: $dropdown-link-hover-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;
$nav-tabs-border-color: $gray-800;
$nav-tabs-link-hover-border-color: $gray-800;
$nav-tabs-link-active-color: $gray-800;
$nav-tabs-link-active-border-color: $gray-800;
$navbar-padding-y: 0;
$navbar-dark-hover-color: $white;
$navbar-light-hover-color: $gray-800;
$navbar-light-active-color: $gray-800;
$pagination-color: $white;
$pagination-bg: transparent;
$pagination-border-color: $gray-800;
$pagination-hover-color: $white;
$pagination-hover-bg: $gray-800;
$pagination-hover-border-color: $gray-800;
$pagination-active-bg: transparent;
$pagination-active-border-color: rgba($black, .6);
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: $gray-800;
$card-border-color: $gray-800;
$card-cap-bg: lighten($gray-800, 10%);
$card-bg: lighten($body-bg, 5%);
$popover-bg: lighten($body-bg, 5%);
$toast-background-color: lighten($body-bg, 5%);
$toast-border-color: $gray-800;
$toast-header-color: $gray-800;
$toast-header-background-color: $toast-background-color;
$toast-header-border-color: $toast-border-color;
$modal-content-bg: lighten($body-bg, 5%);
$modal-header-border-color: $gray-800;
$progress-bg: $white;
$progress-bar-color: $gray-600;
$list-group-color: $white;
$list-group-bg: lighten($body-bg, 5%);
$list-group-border-color: $gray-800;
$list-group-hover-bg: $gray-300;
$list-group-active-color: $white;
$list-group-active-bg: $gray-800;
$list-group-active-border-color: $list-group-border-color;
$list-group-disabled-color: $gray-700;
$list-group-action-color: $gray-800;
$breadcrumb-padding-y: .375rem;
$breadcrumb-padding-x: .75rem;
$breadcrumb-active-color: $gray-800;
$breadcrumb-border-radius: .25rem;
$pre-color: inherit;
$secondary: $purple;
$link-decoration: underline;
$border-width: 2px;
$border-radius: 25px;
$border-radius-lg: 35px;
$border-radius-sm: 15px;
$font-family-sans-serif: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-base: 700;
$headings-font-family: "Cabin Sketch", cursive;
$blockquote-small-color: $gray-800;
$table-border-width: 2px;
$input-border-color: $gray-800;
$input-focus-border-color: $input-border-color;
$navbar-dark-color: $white;
$navbar-dark-toggler-border-color: $white;
$navbar-light-color: $gray-800;
$navbar-light-toggler-border-color: $gray-800;
$pagination-disabled-color: $gray-400;
$card-border-width: 2px;
$popover-border-color: $gray-800;
$badge-padding-y: .5em;
$badge-padding-x: 1.2em;
$toast-border-width: 2px;
$modal-content-border-color: $gray-800;
$progress-bar-bg: $gray-400;
$breadcrumb-divider-color: $gray-800;
$btn-close-color: inherit;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
$btn-close-focus-shadow: none;