<div class="p-2">
  <app-tree-node *ngFor="let recipe of recipes" [collapsed]="false">
    <ng-template #head>
      <div class="row align-items-center">
        <div class="col-5">{{recipe.recipeName}}</div>
        <div class="col-3">{{recipe.totalAmount}} adag</div>
        <div class="col-3">{{recipe.totalClients}} megrendelésből</div>
        <div class="col-1">
        </div>
      </div>
    </ng-template>
    <ng-template #content>
      <div *ngFor="let item of recipe.items" class="row  align-items-center">
        <div class="col-6"> {{item.order.clientName}} </div>
        <div class="col-4"> {{item.item.memberAmount}} adag</div>
        <div class="col-2">
          <app-add-check (checkedChange)="onItemChecked($event, recipe.recipeId, item.order)"
                         [checked]="true"></app-add-check>
        </div>
      </div>
    </ng-template>
  </app-tree-node>
</div>
