<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="#">Fagylalt logisztika</a>
  <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="btn-group nav-item" dropdown>
        <a aria-controls="adminNavDropdown" class="nav-link" dropdownToggle id="adminNavDropdown">
          Megrendelés
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="adminNavDropdown" class="dropdown-menu"
            id="dropdown-basic" role="menu">
          <li role="menuitem"><a class="nav-link" routerLink="/orders/place-order">Új Megrendelés</a></li>
          <li role="menuitem"><a class="nav-link" routerLink="/orders">Megrendelések</a></li>
        </ul>
      </li>

      <li class="btn-group nav-item" dropdown>
        <a aria-controls="adminNavDropdown" class="nav-link" dropdownToggle id="adminNavDropdown">
          Keverés
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="adminNavDropdown" class="dropdown-menu"
            id="dropdown-basic" role="menu">
          <li role="menuitem"><a class="nav-link" routerLink="/manufacturing/create-batch">Keverés kezdése</a></li>
          <li role="menuitem"><a class="nav-link" routerLink="/manufacturing/batch">Eddigi keverések</a></li>
        </ul>
      </li>

      <li class="btn-group nav-item" dropdown>
        <a aria-controls="adminNavDropdown" class="nav-link" dropdownToggle id="adminNavDropdown">
          Raktár
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="adminNavDropdown" class="dropdown-menu"
            id="dropdown-basic" role="menu">
        </ul>
      </li>


      <li class="btn-group nav-item" dropdown>
        <a aria-controls="adminNavDropdown" class="nav-link" dropdownToggle id="adminNavDropdown">
          Admin Settings
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="adminNavDropdown" class="dropdown-menu"
            id="dropdown-basic" role="menu">
          <li role="menuitem"><a class="dropdown-item" routerLink="/settings/recipes">Receptek</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/settings/clients">Megrendelők</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/settings/ingredients">Alapanyagok</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/settings/users">Felhasználók</a></li>

        </ul>
      </li>

    </ul>
  </div>
</nav>
