<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="#">Fagylalt logisztika</a>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav align-items-lg-center" *ngIf="hasRole(Role.Order) || isClient()">
      <li class="btn-group nav-item" dropdown>
        <a aria-controls="orderNavDropdown" class="nav-link" dropdownToggle id="orderNavDropdown">
          Megrendelés
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="orderNavDropdown" class="dropdown-menu"
            id="orderNavDropdow" role="menu">
          <li role="menuitem"><a id="order-create"class="nav-link" routerLink="/orders/place-order">Új Megrendelés</a></li>
          <li role="menuitem"><a id="order-list" class="nav-link" routerLink="/orders">Megrendelések</a></li>
        </ul>
      </li>

      <li class="btn-group nav-item" dropdown *ngIf="hasRole(Role.Manufacturing)">
        <a aria-controls="mixingNavDropdown" class="nav-link" dropdownToggle id="mixingNavDropdown">
          Keverés
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="mixingNavDropdown" class="dropdown-menu"
            id="dropdown-basic" role="menu">
          <li role="menuitem"><a id="mixing-create" class="nav-link" routerLink="/manufacturing/create-batch">Keverés kezdése</a></li>
          <li role="menuitem"><a id="mixing-list" class="nav-link" routerLink="/manufacturing/batch">Eddigi keverések</a></li>
        </ul>
      </li>

      <li class="btn-group nav-item" dropdown *ngIf="hasRole(Role.Delivery)">
        <a aria-controls="deliveryNavDropdown" class="nav-link" dropdownToggle id="deliveryNavDropdown">
          Kiszállítás
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="deliveryNavDropdown" class="dropdown-menu"
            id="deliveryDropdown" role="menu">
          <li role="menuitem"><a id="delivery-create" class="nav-link" routerLink="/delivery/new">Új kiszállítás</a></li>
          <li role="menuitem"><a id="delivery-list" class="nav-link" routerLink="/delivery/">Kiszállítások</a></li>
        </ul>
      </li>
      <li class="btn-group nav-item"  routerLink="/inventory">
        <a id="inventory-nav">
          <app-inventory-warning>
            Raktár
          </app-inventory-warning>
        </a>
      </li>


      <li class="btn-group nav-item" dropdown *ngIf="hasRole(Role.Admin)">
        <a aria-controls="adminNavDropdown" class="nav-link" dropdownToggle id="adminNavDropdown">
          Admin Settings
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="adminNavDropdown" class="dropdown-menu"
            id="dropdown-basic" role="menu">
          <li role="menuitem"><a id="config-recipes" class="dropdown-item" routerLink="/settings/recipes">Receptek</a></li>
          <li role="menuitem"><a id="config-clients" class="dropdown-item" routerLink="/settings/clients">Megrendelők</a></li>
          <li role="menuitem"><a id="config-ingredients" class="dropdown-item" routerLink="/settings/ingredients">Alapanyagok</a></li>
          <li role="menuitem"><a id="config-users" class="dropdown-item" routerLink="/settings/users">Felhasználók</a></li>

        </ul>
      </li>
      <li class="btn-group nav-item" dropdown>
        <a aria-controls="ownSettingsNavDropdown" class="nav-link" dropdownToggle id="ownSettingsNavDropdown">
          Saját beállítások
          <fa-icon icon="caret-down"></fa-icon>
        </a>
        <ul *dropdownMenu aria-labelledby="ownSettingsNavDropdown" class="dropdown-menu"
            id="ownSettingsNavDropdownMenu" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="changePassword()">Jelszó módosítása</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
