<div class="card">
  <div class="container row align-items-center">
    <div class="col-lg-8 p-2">
      <label class="form-label" for="client">Recept: </label>
      <input (typeaheadOnSelect)="onRecipeSelected($event)"
             [(ngModel)]="asyncRecipeName"
             [isAnimated]="true"
             [typeaheadAsync]="true"
             [typeahead]="recipes"
             class="form-control"
             id="client"
             placeholder="Keresés..."
             typeaheadOptionField="name">
    </div>
    <div class="col-lg-3 col-11 p-2">
      <label class="form-label" for="amount">Mennyiség: </label>
      <input [(ngModel)]="amount"
             [min]="0"
             class="form-control"
             id="amount"
             type="number">
    </div>
    <div class="col-1 p-2">
      <button (click)="addItem()" [disabled]="!(recipeSelected && amount)" class="btn btn-primary" type="button">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
    <hr>
    <div *ngFor="let orderItem of orderItems" class="container row align-items-center">
      <div class="col-8 p-2 pl-4">{{orderItem.recipe.name}}</div>
      <div class="col-4 p-2  pl-4">{{orderItem.amount}} {{measurement}}</div>
    </div>
  </div>
</div>
